<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utility App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Multi-Utility App</h1>
    <div class="button-container">
        <button onclick="window.location.href='/image_to_pdf'">Image to PDF Converter</button>
        <button onclick="window.location.href='/slideshare_to_pdf'">Slideshare to PDF Converter</button>
        <button onclick="window.location.href='/text_to_speech'">Text to Speech Converter</button>
        <button onclick="window.location.href='/web_scraping'">Web Scraping Tool</button>
    </div>
</body>
</html>
